<div class="type" *ngFor="let type of cards | toArray">
    <h2>
      {{type.key}}
    </h2>
    
    <div class="cards-container">
      <div class="card-container" *ngFor="let card of type.data; let i=index" (mouseenter)="hoverIndex = i">
        <div class="card-cover">
          <img [src]="card.img" [alt]="card.name">
        </div>
        <div class="card-name">
          {{card.name}}
        </div>
        <div class="card-description" *ngIf='hoverIndex === i'>
          ID: {{ card.cardId }}<br>
          Collectible: {{ card.collectible }}<br>
          {{ card.dbfId }}<br>
          Faction: {{ card.faction }}<br>
          Health: {{ card.health }}<br>
          {{ card.locale }}<br>
          Player class: {{ card.playerClass }}<br>
          Rarity: {{ card.rarity }}<br>
          Type: {{ card.type }}<br>
        </div>
      </div>
    </div>

</div>