Search a card by 
<select value="name" (change)="filter()" #filterBySelect>
  <option value="cardId">cardId</option>
  <option value="cardSet">cardSet</option>
  <option value="collectible">collectible</option>
  <option value="dbfId">dbfId</option>
  <option value="faction">faction</option>
  <option value="health">health</option>
  <option value="img">img</option>
  <option value="imgGold">imgGold</option>
  <option value="locale">locale</option>
  <option value="name" selected>name</option>
  <option value="playerClass">playerClass</option>
  <option value="rarity">rarity</option>
  <option value="type">type</option>
</select>
<input type="text" (keyup)="filter()" #filterInput> {{(cards | filter:filterFunorderByFun).length}} cards found
<select value="name" (change)="filter()" #orderBySelect>
  <option value="cardId">cardId</option>
  <option value="cardSet">cardSet</option>
  <option value="collectible">collectible</option>
  <option value="dbfId">dbfId</option>
  <option value="faction">faction</option>
  <option value="health">health</option>
  <option value="img">img</option>
  <option value="imgGold">imgGold</option>
  <option value="locale">locale</option>
  <option value="name" selected>name</option>
  <option value="playerClass">playerClass</option>
  <option value="rarity">rarity</option>
  <option value="type">type</option>
</select>
<div class="cards-container">
  <div class="card-container" *ngFor="let card of cards | filter:filterFunorderByFun |pagination:paginationMin:paginationMax; let i=index" (mouseenter)="hoverIndex = i" (mouseleave)="hoverIndex = -1">
    <div class="card-cover">
      <img lazyLoading imgError='/assets/img/empty-cards.png' [img]='card.img' src='/assets/img/empty-cards.png' [alt]="card.name">
    </div>
    <div class="card-name">
      {{card.name}}
    </div>
    <div class="card-description" *ngIf='hoverIndex === i'>
      ID: {{ card.cardId }}<br>
      Collectible: {{ card.collectible }}<br>
      {{ card.dbfId }}<br>
      Faction: {{ card.faction }}<br>
      Health: {{ card.health }}<br>
      {{ card.locale }}<br>
      Player class: {{ card.playerClass }}<br>
      Rarity: {{ card.rarity }}<br>
      Type: {{ card.type }}<br>
    </div>
  </div>
</div>
<div class="pagination-container">
  <div class="action" (click)="previous()"><i class="fa fa-step-backward"></i></div>
  <div class="action" (click)="next()"><i class="fa fa-step-forward"></i></div>
</div>